* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #008198;
    font-family: 'The Neue';
    text-transform: uppercase;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav {
}

.all-menu {
    position: absolute;
    right: 20px;
    top: 20px;
}
.all-menu .toggle {
    width: 80px;
}

.menu-con .subitems-links {
    display: flex;
    gap: 2em;
}

.menu-con .link a {
    font-size: 17px;
}

.menu-con .logo .link a {
    font-size: 30px;
}

.menu-con .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgb(0, 0, 0);
    clip-path: polygon(49.75% 49.75%, 50.25% 49.75%, 50.25% 50.25%, 49.75% 50.25%);

    pointer-events: none;
    opacity: 0;
}

.menu-con .logo {
    text-transform: uppercase;
    font-family: 'Lexa';
    font-size: 30px;
    color: #fff;
}

.menu-con .close-btn {
    position: relative;
    top: -0.5em;
    width: 50px;
    height: 40px;
}

.menu-con .close-btn img {
    height: 40px;
    object-fit: cover;
}

.menu-con p {
    color: #fff;
}

.menu-con .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.menu-con .col .logo,
.menu-con .col .tagline {
    flex: 2;
}

.menu-con .col .tagline {
    display: flex;
    gap: 7em;
    padding: 0.75em 0;
}

.menu-con .col .links {
    flex: 3;
}

.menu-con .links.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-con .link a {
    text-decoration: none;
    color: #fff;
    font-size: 60px;
}

.all-menu .toggle,
.menu-con .close-btn {
    cursor: pointer;
}

.menu-con .divider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5px;
    height: 0%;
    background: #fff;
}
/*  */
.con1 {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/images/img-1.jpg);
    background-position: 0 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con1 h2 {
    font-size: 50px;
    color: #fff;
}
