body {
    overflow-x: hidden;
    font-family: 'Helvetica Now Display', 'Arial', 'Roboto', sans-serif;
}

.con {
    background-color: #f0f0f0;
}

.con .inner {
    width: 1400px;
    height: 1000px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    padding: 150px 0;
}

.con h2 {
    font-size: 40px;
    font-weight: 600;
}

.con2,
.con3,
.con4 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.con1 {
    background-color: #ffe5e5;
}
.con2 {
    background-color: #e5ffe5;
}

.con3 {
    background-color: #e5e5ff;
}
.title,
.con3 .rtitle {
    font-size: 10rem;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    white-space: nowrap;
}
.con3 .rtitle {
    font-size: 15rem;
}
.con3 strong {
    font-size: 2rem;
}
.con3 .review-wrp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 0;
    gap: 2rem;
    row-gap: 15rem;
}
.con3 .review {
    width: 400px;
    height: 300px;
    box-shadow: 10px 0px 40px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    padding: 3rem;
    box-sizing: border-box;
    z-index: 2;
    background-color: white;
}
.con3 .review .rhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con3 .review .rhead .title {
    font-size: 2rem;
    margin: 0;
}
.con3 .review .rhead .rating {
    color: orange;
}

.con3 .rtitle {
    top: 20%;
}
.con4 {
    background-color: #fff0cc;
}
